.vscode/launch.json
.vscode/settings.json
.DS_Store
**/__pycache__

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.vscode
condaenv.*

# Compiled KF Pipeline 
*.tar.gz

# Python package build files
code/logging/build/**
code/logging/dist/**
code/logging/*.egg-info